<div class="ui items">
{{ range first 5 (where .Data.Pages "Section" "post") }}
    <div class="item">
        <div class="content">
            <a class="ui header" href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
            <div class="meta">
                <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            </div>
            <div class="description">
                {{ .Summary }}
            </div>
            <div class="footer">
                <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
            </div>
        </div>
   </div>
{{ end }}
</div>