{{ partial "header.html" . }}
<body lang="en">
{{ partial "subheader.html" . }}
<div class="ui stackable grid">
    <div class="six wide column">
        {{ range first 1 (where .Data.Pages "Section" "issue") }}
            {{ partial "latest_issue_card.html" . }}
        {{ end }}
    </div>
    <div class="ten wide column">
        <div class="ui segment">
            <div class="ui medium header">Latest Updates</div>            
            {{ partial "latest_posts.html" . }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}